[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/alexurquhart/hugo-geo.git
[submodule "public"]
	path = public
	url = https://github.com/Macn1234/Macn1234.github.io.git
